<div class="page-title">
  <h4>
      <a routerLink="/categories">Categories</a>
      <i class="material-icons">keyboard_arrow_right</i>
      {{ isEdit ? 'Edit' : 'Add' }} category
  </h4>
  <span>
      <button *ngIf="isEdit" class="btn btn-small red" (click)="deleteCategory()">
        <i class="material-icons">delete</i>
      </button>
    </span>
</div>

<div class="row">
  <form class="col s12 l6" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="input-field">
          <input id="name" type="text" formControlName="name"
            [ngClass]="{ 'invalid': isControlInvalid('name') }">
          <label for="name">Title</label>
          <span class="helper-text red-text" *ngIf="isControlInvalid('name')">
            <span *ngIf="form.controls['name'].errors['required']">
              Please enter a name
            </span>
          </span>
      </div>

      <div>
        <input #fileInput class="display-none" type="file" accept="image/*" (change)="fileUpload($event)">
        <button type="button" class="waves-effect waves-light btn orange lighten-2 mb2"
          (click)="selectFile()" [disabled]="form.disabled">
            <i class="material-icons left">backup</i>
            Load image
        </button>
      </div>

      <div>
        <button type="submit" class="waves-effect waves-light btn"
          [disabled]="form.invalid || form.disabled">
            Save
        </button>
      </div>
  </form>

  <div class="col s12 l4 center">
    <img *ngIf="imagePreview" class="responsive-img image-preview" [src]="imagePreview">
  </div>
</div>

<app-positions *ngIf="category?._id" [categoryId]="category._id"></app-positions>
