<div class="page-title">
  <h4>Categories</h4>
  <button class="waves-effect waves-light btn grey darken-1" routerLink="/categories/new">
    Add category
  </button>
</div>

<ng-container *ngIf="categories$ | async as categoriesList">
  <ng-container
    [ngTemplateOutlet]='categoriesList.loading ? loaderTmpl : dataTmpl'
    [ngTemplateOutletContext]="{ $implicit: categoriesList.array }"
  ></ng-container>

  <ng-template #dataTmpl let-categories>
    <div class="row">
      <div class="col s12">
        <ng-container [ngTemplateOutlet]="!!categories.length ? categoriesTmpl : emptyTmpl"></ng-container>

        <ng-template #categoriesTmpl>
          <div class="collection">
            <a href="#!" class="collection-item"
              *ngFor="let category of categories; trackBy: trackByFn"
              [routerLink]="['/categories', category._id]"
              routerActiveLink="active"
            >
              {{ category.name }}
            </a>
          </div>
        </ng-template>

        <ng-template #emptyTmpl>
          <div class="center">
            Categories are empty
          </div>
        </ng-template>
      </div>
    </div>
  </ng-template>

  <ng-template #loaderTmpl>
    <app-loader></app-loader>
  </ng-template>
</ng-container>


